/*
Colors used: 
Primary Color (Tuorquise): 73, 205, 228, 100% #49CDE4
Secondary Color (Jade): 0, 151, 178 100% #0097B2
Card Background Color (Tuorquise 6%): 73, 205, 228 6% #49CDE4
Background Color (White): 255, 255, 255 #ffffff
Text main (Black): 28, 27, 31, 100% #000000
Text secondary (Dark grey): 83, 84, 97 100% #535461
Ghost text (Mid grey): 83, 84, 97 70% #535461
Grey 83, 84, 97 50% #535461
Selected tab (light grey): 83, 84, 97 30% #535461
Unselected tab (v. light grey): 83, 84, 97 10% #535461
Highlight (Navy): 8, 70, 109 100%, #08466D
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
  text-align: center;
  position: relative;
  display: block;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:visited {
  /* visited link */
  color: #0097b2;
}
a:hover {
  color: #08466d; /* a:hover (mouse over) same styling as a:focus (selected by keyboard)*/
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
  /* selected link */
  color: #535461 0.3;
}
a:focus {
  color: #08466d;
  text-decoration: underline;
}
#hero.h1 {
  text-align: center;
  background-color: transparent;
  padding: 20px 0;
  display: block;
  width: 100%;
}
#careerchanger {
  text-align: center;
  max-width: 50%;
  display: inline;
}
.logo {
  max-width: 20%;
  display: inline-block;
}
header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#contact.h2 {
  padding: 0;
}
nav > ul {
  display: inline-block;
  padding: 0;
}
nav > ul > li {
  display: inline-block;

  list-style-type: none;
}
nav > ul > li > a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #535461;
  width: 100%;
}
nav > ul > li > a:visited {
  color: #0097b2;
}
nav > ul > li > a:hover {
  color: #49cde4;
}
nav > ul > li > a:active {
  color: #535461 0.3;
}
ul > li {
  margin: 0;
  padding: 0;
}
/* Layout stylings*/
.container {
  padding: 0 15px;
}
.row {
  /*line at the bottom of a section*/
  padding-bottom: 25px;
  border-bottom: 1px solid #08466d;
  margin: 24px 20px; /* 24px top and bottom, 20 left and right */
}
.button {
  display: inline-block; /* since the <a> tag is inline by default it needs to be changed to inline-block */
  background-color: #0097b2;
  font-weight: 400;
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #08466d; /* width of the border, type, color */
  margin-bottom: 24px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.7; /* Reduces the opacity of the button to 70% */
  text-decoration: none;
}
.button:active {
  color: #535461 0.3;
}
.button:visited {
  color: black;
}
.button:contact {
  background-color: transparent;
  color: #0097b2;
  text-transform: uppercase;
  border: 2px solid #0097b2;
}
.button.contact:hover {
  background-color: #0097b2;
  color: #ffffff;
}
.button.contact:active {
  background-color: #535461 0.7;
  color: #ffffff;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav {
    width: 100%;
    display: inline-block;
    margin-top: 24px;
  }
  .col-md-6 {
    width: 50%;
    padding: 10px;
  }
  #skills {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 25px;
  }
  #tools {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 25px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
[class*="col-"] {
  float: left;
  padding-bottom: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes movebirds {
  from {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  to {
    transform: translateX(0px) scale(1.5);
  }
}

.birds {
  animation-duration: 3s;
  animation-name: movebirds;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
