/*
Colors used: 
Primary Color (Tuorquise): 73, 205, 228, 100% #49CDE4
Secondary Color (Jade): 0, 151, 178 100% #0097B2
Card Background Color (Tuorquise 6%): 73, 205, 228 6% #49CDE4
Background Color (White): 255, 255, 255 #ffffff
Text main (Black): 28, 27, 31, 100% #000000
Text secondary (Dark grey): 83, 84, 97 100% #535461
Ghost text (Mid grey): 83, 84, 97 70% #535461
Grey 83, 84, 97 50% #535461
Selected tab (light grey): 83, 84, 97 30% #535461
Unselected tab (v. light grey): 83, 84, 97 10% #535461
Highlight (Navy): 8, 70, 109 100%, #08466D
*/
* {
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Nunito", sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  padding: 10px;
}
h1,
h2,
h3,
h4 {
  line-height: 1.4;
  text-align: center;
  position: relative;
  display: block;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
}
h2 {
  font-size: 2em;
  font-weight: 700;
}
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  text-align: left;
}
img {
  width: 100%;
}
a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:visited {
  /* visited link */
  color: #0097b2;
}
a:hover {
  color: #08466d; /* a:hover (mouse over) same styling as a:focus (selected by keyboard)*/
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:active {
  /* selected link */
  color: #535461 0.3;
}
a:focus {
  color: #08466d;
  text-decoration: underline;
}
#hero.h1 {
  text-align: center;
  background-color: transparent;
  padding: 8px 0;
  display: block;
  width: 100%;
}
#careerchanger {
  text-align: center;
  max-width: 50%;
  display: inline;
}
.logo {
  max-width: 30%;
  display: inline-display;
}
.logo2 {
  max-width: 30%;
  display: inline-display;
}
.profile {
  max-width: 20%;
  display: inline-display;
}
header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  margin: 10px;
}
nav > ul > li {
  list-style-type: none;
  padding: 10px;
  line-height: 0.8;
}
nav > ul > li > a {
  /*selects the list elements in the navigation class */
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  width: 100%;
}
nav > ul > li > a:visited {
  color: #ffffff;
}
nav > ul > li > a:hover {
  color: #49cde4;
}
nav > ul > li > a:active {
  color: #535461 0.3;
}
.navtoggle {
  /* gives space between logo and menu*/
  display: flex;
  justify-content: space-between;
}
.navtoggle li:not(:last-child) {
  /* To remove the menu items in small screen */
  background-color: white;
  display: none;
}
.navtoggle.responsive nav {
  position: relative;
  padding: 24px 0 0;
  display: block;
}
.navtoggle li .icon {
  position: relative;
  padding-right: 0;
  top: 2px;
  font-size: 20px;
}
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  text-align: right;
}
.navtoggle.responsive li:last-child {
  /*doesn't show hamburger when toggled*/
  display: none;
  padding: 0 0 10px;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
ul > li {
  margin: 0;
  padding: 0;
}
/* Layout stylings*/
.container {
  padding: 0 0px;
}
.row {
  /*line at the bottom of a section*/
  padding-bottom: 10px;
  border-bottom: 1px solid #08466d;
  margin: 24px 0px; /* 24px top and bottom, 20 left and right */
}
.button {
  display: inline-block; /* since the <a> tag is inline by default it needs to be changed to inline-block */
  background-color: #0097b2;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 2px solid #08466d; /* width of the border, type, color */
  margin-bottom: 24px;
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.7; /* Reduces the opacity of the button to 70% */
  text-decoration: none;
}
.button:active {
  color: #535461 0.3;
}
.button:visited {
  color: white;
}
.button:contact {
  background-color: transparent;
  color: #0097b2;
  text-transform: uppercase;
  border: 2px solid #0097b2;
}
.button.contact:hover {
  background-color: #0097b2;
  color: #ffffff;
}
.button.contact:active {
  background-color: #535461 0.7;
  color: #ffffff;
}
@media only screen and (min-width: 640px) {
  header {
    text-align: right;
    padding: 20px 0 13px;
  }
  .navtoggle li:not(:last-child) {
    /* Shows menu items and not hamburger in medium screens */
    display: inline-block;
    background-color: #08466d;
  }
  .navtoggle li:last-child {
    /* Hides hamburger menu*/
    display: none;
  }
  nav > ul {
    margin: 1em 0;
  }
}
logo {
  max-width: 300px;
}
nav > ul > li {
  width: 50%;
  display: inline-block;
  margin-top: 24px;
}
.col-md-6 {
  width: 50%;
  padding: 10px;
}
#skills {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 25px;
  text-align: left;
}
#tools {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 25px;
  text-align: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-md-3 {
  width: 25%;
  padding: 10px;
}
#email {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0px;
}
#phone {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0;
}
#linkedin {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0px;
}
#cv {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
[class*="col-"] {
  float: left;
  padding-bottom: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

.animation {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes movebirds {
  from {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(0px);
  }
  to {
    transform: translateX(0px) scale(1.5);
  }
}

.birds {
  animation-duration: 3s;
  animation-name: movebirds;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
